<div class="container">
  <form class="form-signin" (submit)="onSubmit()">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email"
           id="inputEmail"
           class="form-control"
           placeholder="Email address"
           required
           autofocus
           name="email"
           [(ngModel)]="user.email">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password"
           id="inputPassword"
           class="form-control"
           placeholder="Password"
           required
           name="password"
           [(ngModel)]="user.password">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="text-center">or</p>
    <a class="btn btn-lg btn-primary btn-block" routerLink="/signup">Sign Up</a>
  </form>
</div>
